/* ----------------Fuentes-------------- */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=PT+Sans+Narrow:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-face {

    font-family: 'Chalk Board';
    
    src: url("../fonts/Chalk\ Board.ttf");
    
    }

/* ----------------Animaciones-------------- */

@keyframes bgfade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes resaltado {
    0% {
        background-color: #ff0000;
        color: #ffffff;
    }

    25% {
        background-color: #ff0000bf;
        color: #ffffff;
    }

    50% {
        background-color: #ff000080;
        color: #ffffff;
    }

    75% {
        background-color: #ff0000bf;
        color: #ffffff;
    }

    100% {
        background-color: #ff0000;
        color: #ffffff;
    }
}

/* ----------------Comunes-------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1034%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(217%2c 217%2c 217%2c 1)'%3e%3c/rect%3e%3cpath d='M694 998L1481 1785' stroke-width='10' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M725 984L1532 1791' stroke-width='8' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M832 1053L507 728' stroke-width='8' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M507 956L89 538' stroke-width='8' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1185 541L1869 1225' stroke-width='6' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M50 342L-227 65' stroke-width='8' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1769 264L2309 804' stroke-width='6' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1602 348L2335 1081' stroke-width='10' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M765 723L1206 1164' stroke-width='6' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M439 71L-149 -517' stroke-width='10' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1664 761L1024 121' stroke-width='8' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1286 562L699 -25' stroke-width='10' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1841 449L1434 42' stroke-width='6' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1492 434L1015 -43' stroke-width='10' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M713 1031L1480 1798' stroke-width='10' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M870 654L214 -2' stroke-width='10' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1702 452L1303 53' stroke-width='6' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1090 381L1564 855' stroke-width='6' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M737 656L1229 1148' stroke-width='8' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1222 70L921 -231' stroke-width='6' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1815 544L2178 907' stroke-width='10' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1875 394L1279 -202' stroke-width='8' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1802 198L2579 975' stroke-width='6' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M797 561L1368 1132' stroke-width='6' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1378 31L638 -709' stroke-width='6' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M977 676L1390 1089' stroke-width='6' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1721 1058L2215 1552' stroke-width='8' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1754 206L1436 -112' stroke-width='6' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M783 950L1145 1312' stroke-width='8' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M233 394L-472 -311' stroke-width='10' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M543 438L262 157' stroke-width='8' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1863 210L2137 484' stroke-width='6' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1800 535L2398 1133' stroke-width='8' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M744 1047L-55 248' stroke-width='8' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M585 890L1248 1553' stroke-width='8' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M708 595L1497 1384' stroke-width='10' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1214 130L1832 748' stroke-width='8' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1172 313L848 -11' stroke-width='10' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1412 794L991 373' stroke-width='6' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M878 192L1420 734' stroke-width='6' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M614 315L1072 773' stroke-width='8' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1872 622L2523 1273' stroke-width='6' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M572 465L252 145' stroke-width='6' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M474 316L1042 884' stroke-width='10' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M651 741L1341 1431' stroke-width='10' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M639 197L973 531' stroke-width='6' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M932 931L1396 1395' stroke-width='8' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1532 723L1192 383' stroke-width='10' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M703 378L1179 854' stroke-width='6' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1631 604L2353 1326' stroke-width='6' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1852 312L2269 729' stroke-width='6' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1420 598L1861 1039' stroke-width='6' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1352 436L1766 850' stroke-width='6' stroke='url(%23SvgjsLinearGradient1036)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M432 287L709 564' stroke-width='10' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M508 330L-97 -275' stroke-width='10' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M476 445L1270 1239' stroke-width='8' stroke='url(%23SvgjsLinearGradient1035)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1034'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='100%25' id='SvgjsLinearGradient1035'%3e%3cstop stop-color='rgba(159%2c 168%2c 177%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(159%2c 168%2c 177%2c 0.29)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1036'%3e%3cstop stop-color='rgba(159%2c 168%2c 177%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(159%2c 168%2c 177%2c 0.29)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    margin: 0 auto;
    -webkit-animation: bgfade 1.5s;
    animation: bgfade 1.5s;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

body main {
    max-width: 1400px;
    min-height: 72.2vh;
    margin: 0 auto;
    padding: 10px;
}

body main .row,
.row-cols-1>* {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
}

.titulo {
    font-family: 'Chalk Board';
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.actividades h2 {
    font-family: 'Pacifico', cursive;
    text-decoration: underline;
    color: #00185c;
    text-shadow: 0px 3px 3px #0036ca71;
}

strong {
    text-decoration: underline;
}

#btn-back-to-top {
    background-color: #006432;
    color: #ffffff;
    position: fixed;
    bottom: 20px;
    right: 20rem;
    display: none;
}

/* ----------------Encabezado-------------- */

header {
    background-image: url("../img/Chalkboard-background-powerpoint.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1400px;
    border: #792712 10px groove;
    box-shadow: 2px 2px 0 #992b0f8e, 2px -2px 0 #992b0f8e, -2px 2px 0 #992b0f8e, -2px -2px 0 #992b0f8e, 2px 0px 0 #992b0f8e, 0px 2px 0 #ffffff, -2px 0px 0 #992b0f8e, 0px -2px 0 #992b0f8e;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.titulo h1 {
    margin-top: 2rem;
    font-family: 'Chalk Board', cursive;
    color: #ffffff;
    text-shadow: 0px 3px 3px #00643277;
    font-size: 5rem;
}

.titulo span {
    color: #ff0000;
    text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, -2px -2px 0 #ffffff, 2px 0px 0 #ffffff, 0px 2px 0 #ffffff, -2px 0px 0 #ffffff, 0px -2px 0 #ffffff;
}

.dropdown-item:hover {
    animation: resaltado 1000ms linear 3ms infinite
}

.btn-success {
    background-color: #3a6a4a;
    border-color: #ffffff;
}
.btn-success:hover {
    background-color: #ffffff;
    border-color: #3a6a4a;
    color: #3a6a4a;
}

/* ----------------Pie de página-------------- */

footer {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    background-image: url("../img/footer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

footer a,
footer a:visited {
    color: white;
    -webkit-transition: all 1s;
    transition: all 1s;
    text-decoration: none;
}

footer p {
    font-size: 0.9rem;
    margin: 0;
}

footer .bi {
    font-size: 1.4rem;
    margin: 0.25rem;
    color: white;
}

.bi-twitter:hover {
    color: #1d9bf0;
}

.bi-github:hover {
    color: #333333;
}

.bi-facebook:hover {
    color: #385898;
}

.bi-instagram:hover {
    color: #bc1888; 
}

.bi-whatsapp:hover {
    color: #00ff00;
}

.bi-linkedin:hover {
    color: #0082ca;
}

/* ----------------Index-------------- */

.intro {
    max-width: 92%;
    margin-top: 2rem;
    padding: 1.5rem;
    color: #000000;
    font-size: 1.5rem;
    box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.534);
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}
.areas {
    margin: 10px;
}

#alumno {
    font-family: 'Chalk Board', cursive;
    font-weight: 200;
    font-size: 4rem;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 0 #00000025, 2px -2px 0 #00000025, -2px 2px 0 #00000025, -2px -2px 0 #00000025, 2px 0px 0 #00000025, 0px 2px 0 #00000025, -2px 0px 0 #00000025
}

#desloguear {
    font-family: 'Fira Sans Condensed', sans-serif;
    text-transform: uppercase;
    background-color: #742c1a;
    color: #ffffff;
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
    border: white solid 1px;
    border-radius: 10px;
    box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.2);
}

.areas h3 {
    text-align: center;
    color: #006432;
    text-decoration: underline;
}

.card {
    background: rgba(59, 59, 59, 0.123);
    border: 0.14rem #006432 solid;
    border-radius: 1.5rem;
    max-width: 300px;
    min-height: auto;
    margin-top: 10px;
}

.card-img-top {
    max-width: 100%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

.card-title {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
    color: #385898;
}

.card-title a:hover {
    color: #7f00b1;
}

.card-text {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 600;
    text-align: left;
}

.card-body ul li {
    list-style: circle;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 500;
}

#objetivosPdlShow,
#objetivosPdlHide,
#objetivosMathShow,
#objetivosMathHide,
#objetivosSocShow,
#objetivosSocHide,
#objetivosNatShow,
#objetivosNatHide {
    text-align: center;
    background: rgba(59, 59, 59, 0.123);
    width: auto;
}

#objetivosPdl,
#objetivosMath,
#objetivosSoc,
#objetivosNat {
    display: none;
}

.card:hover {
    -webkit-filter: saturate(2);
    filter: saturate(2);
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
}

/*-------------- Poesia / Problemas --------------*/

#poesia,
#problemas,
#campoCiudad {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 1rem;
}

.poesia,
.problemas,
.vidaCampoCiudad {
    padding: 2rem 5rem;
    background-color: #ffffff66;
    font-family: 'Arima', cursive;
    box-shadow: 0px 3px 3px #929292b9;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 25px;
    max-width: 100%;
}

.poesia,
.problemas span {
    font-size: 1rem;
}

.actividades__pdl {
    max-width: 100%;
}

.actividades h3 {
    font-family: 'Arima', cursive;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 600;
    color: #00185c;
    margin-bottom: 2rem;
}

.actividades h4 {
    font-family: 'Arima', cursive;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 600;
    color: #00185c;
    margin-bottom: 2rem;
}

.palabras__poesia {
    position: sticky;
    top: 0;
    right: 15rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 2rem;
}

.palabras__poesia table {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    border-width: 1rem;
    border: 0.2rem #006432 ridge;
    box-shadow: 0px 3px 3px #00643271;
}

.palabras__poesia td {
    width: 5rem;
    padding: 0.5rem;
    background: #ffffffb6;
    color: #006432;
    border: 0.1rem #006432 solid;
}

.estrofa {
    width: 100%;
    margin-bottom: 2rem;
}

.estrofa span {
    background-color: #006432;
    border-radius: 15px;
    color: #EEEEEE;
    padding: 0 1rem;
    position: relative;
    right: -5px;
    margin: 0;
    z-index: -2;
}

.estrofa input {
    color: #00185c;
    width: 8rem;
    text-align: center;
    font-weight: 600;
    background: transparent;
    border: #006432 solid 1px;
    border-radius: 5px;
}

.estrofa input:focus {
    background: white;
    color: #006432;
    border: #ff000073 solid 1px;
}

.btn_send {
    display: inline-block;
    width: 22rem;
    height: 3rem;
    margin: 0.5rem;
    color: white;
    background: #00185c;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: all 333ms;
    transition: all 333ms;
}

.poesia .btn_send:active,
.problemas .btn_send:active,
.vidaCampoCiudad .btn_send:active {
    border: white 0.2rem solid;
}

.poesia .btn_send:hover,
.problemas .btn_send:hover, 
.vidaCampoCiudad .btn_send:hover {
    color: white;
    background-color: #006432;
}

.poesia #nota {
    position: absolute;
    top: 60rem;
    right: 25rem;
    transform: rotate(35deg);
}

.problemas #nota {
    position: absolute;
    top: 40rem;
    right: 20rem;
    transform: rotate(25deg);
}


#nota {
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    text-align: center;
    color: #ff0000;
    font-weight: 500;
}


/* --------------Sociales-------------- */

.green {
    color: #006432;
}
.red{
    color: #ff0000;
}

.vidaCampoCiudad {
    padding: 1rem;
}

#contenedorZonas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    max-width: 100%;
}

.imagenSelect {
    max-width: 320px;
    position: relative;
    top: 0;
    left: 0;
  }
  .zonasImg {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    border: #00185c 3px solid;
    border-radius: 25px;
  }
  .zonasSelect {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 800;
    width: 50%;
    position: absolute;
    bottom: 10px;
    right: 30px;
    border: 3px #006432 solid;
    border-radius: 25px;
    font-size: 0.8rem;
  }  

  .multChoice, .multChoice legend{
    font-size: 1rem;
    margin: 1rem;
  }

  .vidaCampoCiudad #nota {
    position: absolute;
    top: 85rem;
    right: 27rem;
    transform: rotate(25deg);
}
.multChoice .radioSelect > input[type="radio"] {
    display: none;
  }
  
  .multChoice .radioSelect > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
  }
  
  .multChoice .radioSelect > input[type="radio"]:checked + * {
    color: #006432;
  }
  
  .multChoice .radioSelect > input[type="radio"]:checked + *::before {
    background: radial-gradient(#006432 0%, #006432 40%, transparent 50%, transparent);
    border-color: #006432;
  }

/* --------------Media Queries-------------- */

@media (min-width: 576px) and (max-width: 1400px) {
    #btn-back-to-top {
        right: 2rem;
    }
}

@media screen and (max-width: 576px) {
    #btn-back-to-top {
        right: 1rem;
    }
}

  @media screen and (max-width: 560px){
    #contenedorZonas {
        grid-template-columns: 1fr;
    }
    .multChoice, .poesia, .multChoice legend{
        margin: 1rem 0;
        font-size: 0.9rem;
    }
  }

  @media screen and (max-width: 820px) {
    html {
        font-size: 15px;
    }
    main {
        width: 100%;
    }
    .titulo h1 {
        font-size: 3rem;
    }

    p {
        font-size: 0.95rem;
    }

    .container {
        padding: 0;
    }

    .poesia {
        padding: 1rem;
    }

    .problemas {
        padding: 1rem;
    }

    .poesia .titulo,
    .problemas .titulo,
    .vidaCampoCiudad .titulo {
        font-size: 1.5rem;
    }

    .palabras__poesia table {
        font-size: 1rem;
    }

    .poesia span {
        font-size: 0.8rem;
    }

    .poesia #nota,
    .problemas #nota,
    .vidaCampoCiudad #nota {
        position: static;
        bottom: 0;
        right: 0;
        transform: rotate(0deg);
    }

    .estrofa input {
        width: 5rem;
    }

    .estrofa #palabra1 {
        margin-right: 3.5rem;
    }

    .estrofa span {
        padding: 0 5px;
        right: 0px;
        width: 100%;
    }

    .poesia .btn_send,
    .problemas .btn_send,
    .vidaCampoCiudad .btn_send{
        width: 30vh;
        font-size: 1rem;
    }

    #nota {
        font-size: small;
    }
}

.swal2-input-label {
    color: #ffffff;
    margin: 1rem;
}
